<div class="gap-medium"></div>

<h3>Account Settings</h3>
<div class="row">
    <div class="col-md-3">
        <aside class="sidebar-left">
            <ul class="nav nav-pills nav-stacked nav-arrow">
                <li class="active">
                    <a href="@Url.Action("Manage")">Settings</a>
                </li>
                <li>
                    <a href="@Url.Action("Order")">Orders History</a>
                </li>
            </ul>
        </aside>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-6">

                <div class="alert alert-success profile-successfully-changed">Your profile has successfully been updated.</div>

                <form id="address-form" method="post">
                    <div class="form-group">
                        <label for="">E-mail</label><br />
                        <label id="email" name="Email"></label>
                    </div>
                    <div class="form-group">
                        <label for="">First Name</label>
                        <input id="first-name" name="first-name" type="text" value="" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Last Name</label>
                        <input id="last-name" name="last-name" type="text" value="" class="form-control">
                    </div>


                    <legend>Address</legend>
                    <div class="form-group">
                        <label for="">Line 1</label>
                        <input id="line1" name="line1" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Line 2</label>
                        <input id="line2" name="line2" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">City</label>
                        <input id="city" name="city" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">ZIP/Postal Code</label>
                        <input id="zip" name="zip" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">State</label>
                        <input id="state" name="state" type="text" class="form-control">
                    </div>
                    <input id="btn-save-profile" type="button" value="Save Changes" class="btn btn-primary">
                </form>
            </div>
        </div>
        <div class="gap"></div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            loadDefaultView();
            loadProfile();

            $("#address-form").validate({
                rules: {
                    "first-name": {
                        required: true
                    },
                    "last-name": {
                        required: true
                    },
                    "line1": {
                        required: true
                    },
                    "line2": {
                        required: true
                    },
                    "city": {
                        required: true
                    },
                    "zip": {
                        required: true
                    },
                    "state": {
                        required: true
                    }
                }
            });
        });

        function loadDefaultView() {
            showUpdateProfileSuccessful(false);
        }

        function showUpdateProfileSuccessful(successful) {
            if (successful) {
                $('.profile-successfully-changed').show();
            } else {
                $('.profile-successfully-changed').hide();
            }
        }

        $('#btn-save-profile').click(function() {
            saveProfile();
        });

        function loadProfile() {
            $.ajax({
                url: baseUrl + "api/account/userinfo",
                method: 'get',
                dataType: 'json',
                cache: false,
                success: function (profile) {
                    $('#email').text(profile.Email);
                    $('#first-name').val(profile.FirstName);
                    $('#last-name').val(profile.LastName);
                    $('#line1').val(profile.DeliveryAddress.Line1);
                    $('#line2').val(profile.DeliveryAddress.Line2);
                    $('#state').val(profile.DeliveryAddress.State);
                    $('#city').val(profile.DeliveryAddress.City);
                    $('#zip').val(profile.DeliveryAddress.PostCode);
                 
                },
                complete: function() {
                }
            });
        }

        function saveProfile() {
            if (!$('#address-form').valid()) {
                return;
            }

            var address = {};
            address.Line1 = $('#line1').val();
            address.Line2 = $('#line2').val();
            address.City = $('#city').val();
            address.PostCode = $('#zip').val();
            address.State = $('#state').val();

            var data = {};
            data.FirstName = $('#first-name').val();
            data.LastName = $('#last-name').val();
            data.PhoneNumber = $('#phone-number').val();
            data.DeliveryAddress = address;

            $.ajax({
                url: baseUrl + "api/account/userinfo",
                method: 'post',
                data: JSON.stringify(data),
                contentType: "application/json",
                cache: false,
                success: function () {
                    showUpdateProfileSuccessful(true);
                },
                complete: function() {
                }
            });
        }
    </script>
}

@*@model DealsWhat.Models.LocalPasswordModel
    @{
        ViewBag.Title = "Manage Account";
    }

    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>

    <p class="message-success">@ViewBag.StatusMessage</p>

    <p>You're logged in as <strong>@User.Identity.Name</strong>.</p>

    @if (ViewBag.HasLocalPassword)
    {
        @Html.Partial("_ChangePasswordPartial")
    }
    else
    {
        @Html.Partial("_SetPasswordPartial")
    }

    <section id="externalLogins">
        @Html.Action("RemoveExternalLogins")

        <h3>Add an external login</h3>
        @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
    </section>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
