@model DealsWhat.ViewModels.OrderCheckoutViewModel

<div class="gap-medium"></div>
<h3>Check Out</h3>

@if (ViewBag.NoBillingAddress != null && ViewBag.NoBillingAddress)
{
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger">You must fill in your delivery address to place an order. <a href="@Url.Action("Manage","Account")">Update Delivery Address</a></div>
        </div>
    </div>
}
<div class="row">
    <div class="col-md-4">
        <aside class="sidebar-left">
            <div class="box clearfix">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>QTY</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody id="order-cart-items-tbody">
                        @*@foreach (var cartItem in Model.CartItems)
                            {
                                <tr>
                                    <td>@cartItem.Deal.ShortTitle</td>
                                    <td>@cartItem.Quantity</td>
                                    <td>@cartItem.TotalPrice.ToString("C")</td>
                                </tr>
                            }*@
                    </tbody>
                </table>
                <ul class="cart-total-list text-center mb0">
                    <li>
                        <span>Sub Total</span><span id="cart-subtotal">RM 0.00</span>
                    </li>
                    <li>
                        <span>Shipping</span><span>RM 0.00</span>
                    </li>
                    <li>
                        <span>Taxes</span><span>RM 0.00</span>
                    </li>
                    <li>
                        <span>Total</span><span id="cart-total">RM 0.00</span>
                    </li>
                </ul>
            </div>
        </aside>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-6">
                <h3>Delivery Address</h3>
                <div class="form-group">
                    <label for="">Line 1</label><br>
                    <span class="product-desciption" id="address-line1">Empty</span>
                </div>
                <div class="form-group">
                    <label for="">Line 2</label><br>
                    <span class="product-desciption" id="address-line2">Empty</span>
                </div>
                <div class="form-group">
                    <label for="">City</label><br>
                    <span class="product-desciption" id="address-city">Empty</span>
                </div>
                <div class="form-group">
                    <label for="">State</label><br>
                    <span class="product-desciption" id="address-state">Empty</span>
                </div>
                <div class="form-group">
                    <label for="">Country</label><br>
                    <span class="product-desciption" id="address-country">Empty</span>
                </div>
                <div class="form-group">
                    <a class="btn btn-primary" href="@Url.Action("Manage","Account")">Update Delivery Address</a>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <h3>Pay Via Paypal</h3>
                <p>Important: You will be redirected to PayPal's website to securely complete your payment.</p>

                <form method="post" action="@Url.Action("CheckOutPayment")">
                    <input type="hidden" name="OrderId" value="" />

                    <input type="submit" id="btn-submit-payment" class="btn btn-primary" value="Checkout via Paypal">
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
      

        $(document).ready(function () {
            loadCart();
            loadDeliveryAddress();
        });

        //$('#btn-submit-payment').click(function(e) {
        //    placeOrder();
        //});

        function loadDeliveryAddress() {
            $.ajax({
                url: baseUrl + "api/account/userinfo",
                method: 'get',
                dataType: 'json',
                cache: false,
                success: function (profile) {

                    var address = profile.DeliveryAddress;

                    $('#address-line1').text(address.Line1);
                    $('#address-line2').text(address.Line2);
                    $('#address-city').text(address.PostCode + " " + address.City);
                    $('#address-state').text(address.State);
                    $('#address-country').text('Malaysia');
                },
                complete: function () {
                }
            });
        }

        function getCartTotalSpecialPrice(carts) {
            var price = 0.0;

            $.each(carts, function (index, cart) {
                price += cart.Quantity * cart.SpecialPrice;
            });

            return "RM " + price.toFixed(2);
        }

        function loadCart() {
            $.ajax({
                url: baseUrl + "api/cart/",
                method: 'get',
                dataType: 'json',
                cache: false,
                success: function (carts) {
                    buildCartDom(carts);

                    var total = getCartTotalSpecialPrice(carts);
                    $('#cart-total').text(total);
                    $('#cart-subtotal').text(total);
                },
                complete: function () {
                }
            });
        }

        function placeOrder() {
            $.ajax({
                url: baseUrl + "api/order/new",
                method: 'post',
                cache: false,
                success: function (carts) {

                },
                complete: function () {
                }
            });
        }

        function buildCartDom(carts) {
            var tbody = $('#order-cart-items-tbody');

            var dom = '';
            $.each(carts, function (index, cart) {
                var name = cart.ShortName;

                $.each(cart.Attributes, function (index, attr) {
                    name += '<br/><span class="product-desciption">' + attr.Name + ' (' + attr.Value + ')</span>';
                });

                dom += '<tr><td>' + name + '</td><td>' + cart.Quantity + '</td><td> RM ' + (cart.Quantity * cart.SpecialPrice).toFixed(2) + '</td></tr>';
            });

            tbody.append(dom);
        }
    </script>
}