@using System.Configuration
@model DealsWhat.Models.CheckOutToIPayViewModel
@{
    Layout = null;
}

<form method="post" action="@ConfigurationManager.AppSettings["PaymentUrl"]">
    @Html.HiddenFor(a => a.MerchantCode)
    @Html.HiddenFor(a => a.PaymentId)
    @Html.HiddenFor(a => a.RefNo)
    @Html.HiddenFor(a => a.Amount)
    @Html.HiddenFor(a => a.Currency)
    @Html.HiddenFor(a => a.ProdDesc)
    @Html.HiddenFor(a => a.UserName)
    @Html.HiddenFor(a => a.UserEmail)
    @Html.HiddenFor(a => a.UserContact)
    @Html.HiddenFor(a => a.Remark)
    @Html.HiddenFor(a => a.Lang)
    @Html.HiddenFor(a => a.Signature)
    @Html.HiddenFor(a => a.ResponseURL)
    @Html.HiddenFor(a => a.BackendURL)
</form>

<script src="~/content/js/jquery.js"></script>
<script>
    $(document).ready(function() {
        $('form').submit();
    });
</script>