@using System.Configuration

<span id="header-logged-in">
    <ul class="login-register">
        <li class="shopping-cart">
            <a href="@Url.Action("Index", "Cart")"><i class="fa fa-shopping-cart"></i>My Cart</a>
            @*            <div class="shopping-cart-box">
                    <ul class="shopping-cart-items">
                        <li>
                            <a href="product-shop-sidebar.html">
                                <img src="img/70x70.png" alt="Image Alternative text" title="AMaze">
                                <h5>New Glass Collection</h5>
                                <span class="shopping-cart-item-price">$150</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="list-inline text-center">
                        <li><a href="@Url.Action("View", "Cart")"><i class="fa fa-shopping-cart"></i>View Cart</a>
                        </li>
                        <li><a href="@Url.Action("CheckOut", "Order")"><i class="fa fa-check-square"></i>Checkout</a>
                        </li>
                    </ul>
                </div>*@
        </li>
        <li>
            <a href="@Url.Action("Manage", "Account")"><i class="fa fa-user"></i>Hi, <span id="header-username"></span></a>
        </li>
        <li>
            <a onClick="logout()"><i class="fa fa-sign-out"></i>Log Out</a>

            @*<a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out"></i>Log Out</a>
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm"}))
            {
                @Html.AntiForgeryToken()
            }*@
        </li>
    </ul>
</span>
<span id="header-not-logged-in">
    <ul class="login-register">

        <li>
            <a class="popup-text" href="#login-dialog" data-effect="mfp-move-from-top"><i class="fa fa-sign-in"></i>Login</a>
        </li>
        <li>
            <a class="popup-text" href="#register-dialog" data-effect="mfp-move-from-top"><i class="fa fa-edit"></i>Register</a>
        </li>
        <li>
@*<button id="facebook-login">Facebook Login</button>*@
            @using (Html.BeginForm("ExternalLogin", "Account", new {ReturnUrl = ViewBag.ReturnUrl}))
            {
                @Html.AntiForgeryToken()
                <button name="provider" type="submit" value="facebook" class="btn-bootstrap btn-block btn-social btn-facebook" style="width: 200px">
                    <i class="fa fa-facebook"></i>
                    <div align="right">Login with Facebook</div>
                </button>
            }
        </li>
    </ul>
</span>


<!-- LOGIN REGISTER LINKS CONTENT -->
<div id="login-dialog" class="mfp-with-anim mfp-hide mfp-dialog clearfix">
    <i class="fa fa-sign-in dialog-icon"></i>
    <h3>Member Login</h3>
    <h5>Welcome back, friend. Login to get started</h5>
    <form id="login-form" name="login-form" class="login-form" method="post">
        <div class="form-group">
            <label>E-mail</label>
            <input id="login-email" type="text" name="login-username" placeholder="email@domain.com" class="form-control">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input id="login-password" type="password" name="login-password" placeholder="My secret password" class="form-control">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="RememberMe">Remember me

            </label>
        </div>
        <div class="alert alert-danger login-error login-error-wrong-credentials" role="alert">Your login credential is incorrect.</div>
        <input id="btn-login" type="button" value="Sign in" class="btn btn-primary">
    
    </form>

    <section>
        <ul class="dialog-alt-links">
            <li>
                <a class="popup-text" href="#register-dialog" data-effect="mfp-zoom-out">Not member yet</a>
            </li>
            <li>
                <a class="popup-text" href="#password-recover-dialog" data-effect="mfp-zoom-out">Forgot password</a>
            </li>
        </ul>
    </section>
    <p>
        &nbsp;
    </p>

    <p>
        &nbsp;
    </p>
</div>


<div id="register-dialog" class="mfp-with-anim mfp-hide mfp-dialog clearfix">
    <i class="fa fa-edit dialog-icon"></i>
    <h3>Member Register</h3>
    <h5>Ready to get best offers? Let's get started!</h5>
    <form id="register-form" class="register-form" method="post">
        <div class="form-group">
            <label>E-mail</label>
            <input id="register-email" name="register-email" type="text" placeholder="email@domain.com" class="form-control">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input id="register-password" name="register-password" type="password" placeholder="My secret password" class="form-control">
        </div>
        <div class="form-group">
            <label>Repeat Password</label>
            <input id="register-confirm-password" name="register-confirm-password" type="password" placeholder="Type your password again" class="form-control">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox">Get hot offers via e-mail

            </label>
        </div>
        <div class="alert alert-danger register-error register-error-username-taken" role="alert">Your email address is already registered. <a href="">Forgotten Your Password?</a></div>
        <input id="btn-register" type="button" value="Sign up" class="btn btn-primary">
    </form>
    <ul class="dialog-alt-links">
        <li>
            <a class="popup-text" href="#login-dialog" data-effect="mfp-zoom-out">Already member</a>
        </li>
    </ul>
</div>


<div id="password-recover-dialog" class="mfp-with-anim mfp-hide mfp-dialog clearfix">
    <i class="icon-retweet dialog-icon"></i>
    <h3>Password Recovery</h3>
    <h5>Fortgot your password? Don't worry we can deal with it</h5>
    <form class="dialog-form">
        <label>E-mail</label>
        <input type="text" placeholder="email@domain.com" class="span12">
        <input type="submit" value="Request new password" class="btn btn-primary">
    </form>
</div>
<!-- END LOGIN REGISTER LINKS CONTENT -->

<script src="~/content/js/jquery.js"></script>
<script src="~/Content/js/jquery.cookie.js"></script>
<script src="http://cdn.jsdelivr.net/jquery.validation/1.14.0/jquery.validate.min.js"></script>
<script>
    $('#facebook-login').click(function() {
        $.ajax({
            url: baseUrl + "api/Account/ExternalLogins?returnUrl=http%3A%2F%2Flocalhost%3A1441%2F&generateState=true",
            method: 'get',
            dataType: 'json',
            cache: false,
            success: function (providers) {

                console.log(providers);
                var facebookProvider = providers[0];
                var state = facebookProvider.State;

                var url = baseUrl + 'api/Account/ExternalLogin?provider=Facebook&response_type=token&client_id=self&redirect_uri=' +
                    'http%3A%2F%2Flocalhost%3A1441%2F&state=' + state;
                //var url = facebookProvider.Url;

                //var url = 'http://localhost:39874/api/Account/ExternalLogin?provider=Facebook&response_type=token&client_id=self&redirect_uri=http%3A%2F%2Flocalhost%3A1441%2F&state=' + state;
                window.location.href = url;
            },
            complete: function () {
            }
        });

    });

    $(document).ready(function () {
        $('.login-error').hide();
        $('.register-error').hide();

        var token = $.cookie('token');
        setupAjaxToUseToken();
        if (token != null && token != "") {
            $('#header-logged-in').show();
            $('#header-not-logged-in').hide();

            var email = $.cookie('email');

            if (email == null || email == '') {
                loadEmailAddress();
                email = $.cookie('email');
            }

            $('#header-username').text(email);
        } else {
            $('#header-logged-in').hide();
            $('#header-not-logged-in').show();
        }

        $("#register-form").validate({
            rules: {
                "register-email": {
                    required: true,
                    email: true
                },
                "register-password": {
                    required: true
                },
                "register-confirm-password": {
                    required: true,
                    equalTo:"#register-password"
                }
            }
        });

        $("#login-form").validate({
            rules: {
                "login-username": {
                    required: true,
                    email: true
                },
                "login-password": {
                    required: true
                }
            }
        });
    });

    function loadEmailAddress() {
        $.ajax({
            url: baseUrl + "api/account/userinfo",
            method: 'get',
            dataType: 'json',
            cache: false,
            success: function (profile) {

                console.log(profile);
                var email = profile.Email;

                $.cookie('email', email, { path: '/' });
            },
            complete: function () {
            }
        });
    }

    function logout() {
        $.removeCookie('token', { path: '/' });
        location.reload();
    }

    $('#btn-register').click(function () {

        if (!$('#register-form').valid()) {
            return;
        }

        var username = $('#register-email').val();
        var password = $('#register-password').val();
        var confirmpassword = $('#register-confirm-password').val();

        var payload = {};
        payload.email = username;
        payload.password = password;
        payload.confirmpassword = confirmpassword;

        $.ajax({
            type: "POST",
            url: baseUrl + "api/account/register/",
            data: payload,
            cache: false,
            success: function () {
                $('register-error').hide();
                performLogin(username, password);         
            },
            error: function () {
                $('.register-error-username-taken').show();
            },
            complete: function () {
            }
        });
    });

    function performLogin(username, password) {
        var payload = {};
        payload.username = username;
        payload.password = password;
        payload.grant_type = 'password';

        var json = JSON.stringify(payload);

        $.ajax({
            type: "POST",
            url: baseUrl + "token",
            data: payload,
            cache: false,
            success: function (result) {
                $('.login-error').hide();

                // TODO: If fail?
                var token = result.access_token;

                $.cookie('token', token, { path: '/' });

                location.reload();
            },
            error: function () {
                $('.login-error-wrong-credentials').show();
            },
            complete: function () {
            }
        });
    }

    $('#btn-login').click(function () {

        if (!$('#login-form').valid()) {
            return;
        }

        var username = $('#login-email').val();
        var password = $('#login-password').val();
        performLogin(username, password);
    });

</script>


@*@if (Request.IsAuthenticated) {
        <text>
            Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
                @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            }
        </text>
    } else {
        <ul>
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    }*@