@using System.Configuration

<span id="header-logged-in">
    <ul class="login-register">
        <li class="shopping-cart">
            <a href="@Url.Action("Index", "Cart")"><i class="fa fa-shopping-cart"></i>My Cart</a>
            @*            <div class="shopping-cart-box">
                    <ul class="shopping-cart-items">
                        <li>
                            <a href="product-shop-sidebar.html">
                                <img src="img/70x70.png" alt="Image Alternative text" title="AMaze">
                                <h5>New Glass Collection</h5>
                                <span class="shopping-cart-item-price">$150</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="list-inline text-center">
                        <li><a href="@Url.Action("View", "Cart")"><i class="fa fa-shopping-cart"></i>View Cart</a>
                        </li>
                        <li><a href="@Url.Action("CheckOut", "Order")"><i class="fa fa-check-square"></i>Checkout</a>
                        </li>
                    </ul>
                </div>*@
        </li>
        <li>
            <a href="@Url.Action("Manage", "Account")"><i class="fa fa-user"></i>Hi, <span id="header-username"></span></a>
        </li>
        <li>
            <a onClick="logout()"><i class="fa fa-sign-out"></i>Log Out</a>

            @*<a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out"></i>Log Out</a>
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm"}))
            {
                @Html.AntiForgeryToken()
            }*@
        </li>
    </ul>
</span>
<span id="header-not-logged-in">
    <ul class="login-register">

        <li>
            <a class="popup-text" href="#login-dialog" data-effect="mfp-move-from-top"><i class="fa fa-sign-in"></i>Login</a>
        </li>
        <li>
            <a class="popup-text" href="#register-dialog" data-effect="mfp-move-from-top"><i class="fa fa-edit"></i>Register</a>
        </li>
        <li>
            @using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
            {
                @Html.AntiForgeryToken()
                <button name="provider" type="submit" value="facebook" class="btn-bootstrap btn-block btn-social btn-facebook" style="width: 200px">
                    <i class="fa fa-facebook"></i>
                    <div align="right">Login with Facebook</div>
                </button>
            }
        </li>
    </ul>
</span>


<!-- LOGIN REGISTER LINKS CONTENT -->
<div id="login-dialog" class="mfp-with-anim mfp-hide mfp-dialog clearfix">
    <i class="fa fa-sign-in dialog-icon"></i>
    <h3>Member Login</h3>
    <h5>Welcome back, friend. Login to get started</h5>
    <form class="login-form" method="post">
        <div class="form-group">
            <label>E-mail</label>
            <input id="login-email" type="text" name="UserName" placeholder="email@domain.com" class="form-control">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input id="login-password" type="password" name="Password" placeholder="My secret password" class="form-control">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="RememberMe">Remember me

            </label>
        </div>
        <input id="btn-login" type="button" value="Sign in" class="btn btn-primary">
    </form>

    <section>
        <ul class="dialog-alt-links">
            <li>
                <a class="popup-text" href="#register-dialog" data-effect="mfp-zoom-out">Not member yet</a>
            </li>
            <li>
                <a class="popup-text" href="#password-recover-dialog" data-effect="mfp-zoom-out">Forgot password</a>
            </li>
        </ul>
    </section>
    <p>
        &nbsp;
    </p>

    <p>
        &nbsp;
    </p>
</div>


<div id="register-dialog" class="mfp-with-anim mfp-hide mfp-dialog clearfix">
    <i class="fa fa-edit dialog-icon"></i>
    <h3>Member Register</h3>
    <h5>Ready to get best offers? Let's get started!</h5>
    <form class="register-form" method="post">
        <div class="form-group">
            <label>E-mail</label>
            <input id="register-email" name="UserName" type="text" placeholder="email@domain.com" class="form-control">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input id="register-password" name="Password" type="password" placeholder="My secret password" class="form-control">
        </div>
        <div class="form-group">
            <label>Repeat Password</label>
            <input id="register-confirm-password" name="ConfirmPassword" type="password" placeholder="Type your password again" class="form-control">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox">Get hot offers via e-mail

            </label>
        </div>
        <input id="btn-register" type="button" value="Sign up" class="btn btn-primary">
    </form>
    <ul class="dialog-alt-links">
        <li>
            <a class="popup-text" href="#login-dialog" data-effect="mfp-zoom-out">Already member</a>
        </li>
    </ul>
</div>


<div id="password-recover-dialog" class="mfp-with-anim mfp-hide mfp-dialog clearfix">
    <i class="icon-retweet dialog-icon"></i>
    <h3>Password Recovery</h3>
    <h5>Fortgot your password? Don't worry we can deal with it</h5>
    <form class="dialog-form">
        <label>E-mail</label>
        <input type="text" placeholder="email@domain.com" class="span12">
        <input type="submit" value="Request new password" class="btn btn-primary">
    </form>
</div>
<!-- END LOGIN REGISTER LINKS CONTENT -->

<script src="~/content/js/jquery.js"></script>
<script src="~/Content/js/jquery.cookie.js"></script>
<script>

    $(document).ready(function () {
        var token = $.cookie('token');
        setupAjaxToUseToken();
        if (token != null && token != "") {
            $('#header-logged-in').show();
            $('#header-not-logged-in').hide();

            var email = $.cookie('email');

            if (email == null || email == '') {
                loadEmailAddress();
                email = $.cookie('email');
            }

            $('#header-username').text(email);
        } else {
            $('#header-logged-in').hide();
            $('#header-not-logged-in').show();
        }
    });

    function loadEmailAddress() {
        $.ajax({
            url: baseUrl + "api/account/userinfo",
            method: 'get',
            dataType: 'json',
            cache: false,
            success: function (profile) {

                console.log(profile);
                var email = profile.Email;

                $.cookie('email', email, { path: '/' });
            },
            complete: function () {
            }
        });
    }

    function logout() {
        $.removeCookie('token', { path: '/' });
        location.reload();
    }
</script>


@*@if (Request.IsAuthenticated) {
        <text>
            Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
                @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            }
        </text>
    } else {
        <ul>
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    }*@